---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>My Astro Site</h1>
		<h1>About Me</h1>
		<h2>... and my new Astro site!</h2>

		<p>
			I am working through Astro's introductory tutorial. This is the
			second page on my website, and it's the first one I built myself!
		</p>

		<p>
			This site will update as I complete more of the tutorial, so keep
			checking back and see how my journey is going!
		</p>

		<p>
			Roy's Web Ventures is a small web development company that I started
			to help businesses get online.  Since 2020 I have been working on stuff
		</p>

		<p>
			Primary technologies I use are .Net, Vue.js and now Astro!  I have 
			extensive history in enterprise software development and have been
			working on branching into the consulting world.
		</p>

		<p>
			My goals are to build a consulting business that will do stuff.
		</p>
	</body>
</html>
